:root {            /* Pseudo Class  <html> tag* :root targets the very top element of your document (the <html> tag in HTML)*/        
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}      


/* If you want to style using ID, you use # { pound } */

#root {
  min-height: 100vh;   /* Takes 100% of the viewport { the visible area within a browser window } */
  display: flex; 

}

/* The root ID is associated the div element that React uses to display your final applciation */
/* What happens when you apply this ? The elements arranged top-down will be changed to left-right */